.carrusel{
    width: 60%;
    height: 300px;
    border: 2px solid red;
}

.carrusel .img{
    height: 300px;
    display: grid;
    place-content: center;
    background-color: #05b7fd;
}

.carrusel .img img{
    width: auto;
    max-height: 300px;
}